$black: #000;
$white: #fff;

footer {
  align-items: center;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: flex-end;

  .copyright {
    margin-right: 5px;
  }
}

// footer {
//   background-color: $black;
//   bottom: 0;
//   color: $white;
//   height: 20px;
//   position: absolute;
//   text-align: right;
//   width: 100%;
// }
