.main-shell {
  .profile-container {
    font-size: 14px;
    height: 100%;

    .profile-name {
      font-weight: 500;
     }
   }
 }

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
// endinjector
